[build]
  command = "npm run build"
  publish = "out"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  # Omitir las variables de BCMS del escaneo de secretos
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_BCMS_ORG_ID,NEXT_PUBLIC_BCMS_INSTANCE_ID,NEXT_PUBLIC_BCMS_API_KEY_ID,NEXT_PUBLIC_BCMS_API_KEY_SECRET,BCMS_ORG_ID,BCMS_INSTANCE_ID,BCMS_API_KEY_ID,BCMS_API_KEY_SECRET"